[Unit]
Description=WireGuard Logging
After=network.target

[Service]
Type=simple
User=wirelogd
Group=wirelogd
ExecStart=/usr/bin/wirelogd
Restart=on-failure

[Install]
WantedBy=multi-user.target
